<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip.install" />
	<package id="notepadplusplus.install" />
	<package id="adobereader" />
	<package id="git.install" />
	<package id="sysinternals" />
	<package id="paint.net" />
	<package id="winscp.install" />
	<package id="libreoffice-fresh" />
	<package id="k-litecodecpackfull" />
	<package id="wireshark" />
	<package id="windirstat" />
	<package id="audacity" />
	<package id="doublecmd" />
	<package id="rufus" />
	<package id="pdfsam.install" />
	<package id="foobar2000" />
	<package id="mremoteng" />
	<package id="anydesk" />
	<package id="handbrake.install" />
	<package id="sumatrapdf.install" />
	<package id="hwinfo.install" />
	<package id="mpvnet.install" />
	<package id="qbittorrent" />
	<package id="windirstat" />
	<package id="teamspeak" />
	<package id="microsoft-windows-terminal" />
</packages>
